{% extends '@App/base.html.twig' %}

{% block content %}
<div class="content">
    {{form_start(form, {'attr':{'id':'form-item'}}) }}
    <div class="form-body clearfix">
        <div class="row">
            <div class="col-md-12">
                {{form_row(form.title)}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{form_row(form.content)}}
            </div>
        </div>
        <div class="form-save">
            {{ form_row(form.save) }}
        </div>
    </div>
    {{form_end(form)}}
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {% javascripts %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
