{% extends '@App/base.html.twig' %}
{% form_theme form 'AppBundle:Form:jquery.collection.html.twig' %}

{% block content %}
<div class="container-fluid">
    <div class="col-md-9">
        <div class="row">
            <iframe width="100%" height="100%" src="https://www.w3schools.com">
                <p>Your browser does not support iframes.</p>
            </iframe>
        </div>
    </div>
    <div class="col-md-3">
        {{ form_start(form) }}
        <div class="form-group">
          {{form_row(form.url)}}
        </div>

        <div class="form-group">
            {{form_row(form.words)}}
        </div>

        <div class="form-group">
            {{form_row(form.terms)}}
        </div>

        <div class="form-group">
            {{form_widget(form.save)}}
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@AppBundle/Resources/public/app/css/bookmark/form.css'
        '@select2_css'
        '@select2_bootstrap_theme'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {% javascripts
        '@reframe_js'
        "@symfony_collection_js"
        '@select2_full_js'
        '@AppBundle/Resources/public/app/js/bookmark/form.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
