{% extends '@App/base.html.twig' %}

{% block nav_content %}
<ul class="nav navbar-nav">
    <li class="navbar-form">
        <button type="button" name="button" class="btn btn-default" data-toggle="modal" data-target="#bookmarkModal">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
    </li>
</ul>
<ul class="nav navbar-nav navbar-right">

</ul>
{% endblock %}

{% block content %}

<div class="col-md-2">
    <ul>
        <a href="#">
            ブックマーク
        </a>
        <a href="#">
            お気に入り
        </a>
        <a href="#">
            タグ
        </a>
        <a href="#">
            ゴミ箱
        </a>
        <a href="{{path('bookmark_index')}}">test</a>
    </ul>
</div>
<div class="col-md-10 col-sm-12 content" data-pjax-container>
    <h2></h2>
    <div class="table-scrollable">
        <table class="table table-hover">
            <thead>
                <tr>
                </tr>
            </thead>
            <tbody>
                {% if bookmarks|length > 0 %}
                {% for bookmark in bookmarks %}

                {% include '@App/Bookmark/Feed/index.html.twig' with {
                    'id':   bookmark.id,
                    'url':  bookmark.url,
                    'tags': bookmark.terms,
                } %}

                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
    {{ knp_pagination_render(bookmarks) }}
</div>

<!-- Modal -->
<div id="bookmarkModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal Content -->
        {{form_start(postForm, {'attr': {'id': 'form-bookmark' }} )}}
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">DevEnにアイテムを保存</h4>
            </div>
            <div class="modal-body">
                {{form_row(postForm.url)}}
            </div>
            <div class="modal-footer">
                {{ form_row(postForm.save) }}
            </div>
        </div>
        {{form_end(postForm)}}
    </div>
</div>

{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@AppBundle/Resources/public/app/css/bookmark/index.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {% javascripts
        '@AppBundle/Resources/public/app/js/bookmark/index.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
