{% extends '@App/base.html.twig' %}

{% block nav_content %}
<ul class="nav navbar-nav">
    <li class="navbar-form">
        <button type="button" name="button" class="btn btn-default" data-toggle="modal" data-target="#bookmarkModal">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
    </li>
</ul>
{% endblock %}

{% block content %}
{{dump(bookmarks)}}

<div class="content" data-pjax-container>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="table-scrollable">
                <table class="table table-hover">
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tbody>
                        {% if bookmarks|length > 0 %}
                        {% for bookmark in bookmarks %}
                        <tr data-id="{{ bookmark.id }}">
                            <td>{{bookmark.url}}</td>


                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
            {{ knp_pagination_render(bookmarks) }}
        </div>
    </div>
</div>

<!-- Modal -->
<div id="bookmarkModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal Content -->
        {{form_start(postForm, {'attr': {'id': 'form-bookmark' }} )}}
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">DevEnにアイテムを保存</h4>
            </div>
            <div class="modal-body">
                {{form_row(postForm.url)}}
            </div>
            <div class="modal-footer">
                {{ form_row(postForm.save) }}
            </div>
        </div>
        {{form_end(postForm)}}
    </div>
</div>

{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@AppBundle/Resources/public/app/css/bookmark/index.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {% javascripts
        '@AppBundle/Resources/public/app/js/bookmark/index.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
