<!DOCTYPE html>
<html lang="ja">
<head>
    <!-- Your Stylesheets, Scripts & Title
	============================================= -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <meta name="google-site-verification" content="" />

    {% set baseURL = absolute_url('/') -%}
    <meta name="keywords" content="{{ parameters.seo_properties.keywords }}">
    <meta name="url" content="{{ baseURL }}" />
    <meta name="author" content="gonta616" />

    {% block metatags -%}
        <title>{{ parameters.seo_properties.title }}</title>
        <meta name="Description" content="{{ parameters.seo_properties.description }}" />
        <!-- FACEBOOK -->
        {#<meta property="og:locale" content="ja" />#}
        {#<meta property="og:type" content="website" />#}
        {#<meta property="og:url" content="{{ baseURL }}" />#}
        {#<meta property="og:site_name" content="{{ parameters.seo_properties.title }}" />#}
        {#<meta property="og:title" content="{{ parameters.seo_properties.title }}" />#}
        {#<meta property="og:image" content="{{ parameters.seo_properties.cover }}" />#}
        {#<meta property="og:description" content="{{ parameters.seo_properties.description }}" />#}
        <!-- TWITTER -->
        {#<meta name="twitter:card" content="summary_large_image" />#}
        {#<meta name="twitter:title" content="{{ parameters.seo_properties.title }}" />#}
        {#<meta name="twitter:description" content="{{ parameters.seo_properties.description }}" />#}
        {#<meta name="twitter:url" content="{{ baseURL }}" />#}

        <!-- ICON -->
        {#<link rel="icon" href="https://32x32.png" sizes="32x32" />#}
        {#<link rel="icon" href="https://192x192.png" sizes="192x192" />#}
        {#<link rel="apple-touch-icon-precomposed" href="https://180x180.png" />#}
        {#<meta name="msapplication-TileImage" content="https://270x270.png" />#}
        {#<link rel="apple-touch-icon" href="https://120x120.png" sizes="120x120">#}
        {#<link rel="apple-touch-icon" href="https://152x152.png" sizes="152x152">#}
        {#<link rel="apple-touch-icon" href="https://512x512.png" sizes="512x512">#}
        {#<link rel='mask-icon' color='#a4286a' href='https://logo-icon-black.svg'>#}

    {% endblock %}

    {% block stylesheets %}
        {% stylesheets
        '@font_awesome_css'
        '@template_css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

</head>
<body>
<!-- The Main Wrapper
============================================= -->
<div id="wrapper" class="clearfix">
    <!-- Header
    ============================================= -->
    <header id="header">
        {% include '@App/navbar.html.twig' %}
    </header>

    <!-- Site Content
    ============================================= -->
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </section>
    <!-- Footer
    ============================================= -->
    <footer id="footer" class="dark">
        <div class="container">

        </div>
        <!-- Copyrights
        ============================================= -->
        <div id="copyrights">
            <div class="container clearfix">

            </div>
        </div>
    </footer>
</div>

{% block javascript %}
    {% javascripts
    "@template_js"
    "bundles/fosjsrouting/js/router.js"
    "js/fos_js_routes.js"
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

</body>
</html>

