{% trans_default_domain 'FOSUserBundle' %}

{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}

<div class="container-fluid content">
    <div class="logo">
        <h1>Dev English</h1>
        <img src="{{ asset('/img/logo.png') }}" >
    </div>
    <form action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}

        <div class="social-buttons form-group">
            <!-- <a href="#" class="btn btn-block btn-fb" onclick="fb_login();"><i class="fa fa-facebook"></i> Facebookで新規登録/ログイン</a> -->
            <a class="btn btn-block btn-github" href="{{ hwi_oauth_login_url('github') }}">
                <i class="fa fa-github">
                    Github
                </i>
            </a>
            <a class="btn btn-block btn-facebook" href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}">
                <i class="fa fa-facebook">
                    Facebook
                </i>
            </a>
            <a class="btn btn-block btn-google" href="{{ hwi_oauth_login_url('google') }}">
                <i class="fa fa-twitter">
                    Google
                </i>
            </a>

            <!-- <a href="#" class="btn btn-block btn-tw"><i class="fa fa-twitter"></i> Twitterで新規登録/ログイン</a> -->

        </div>

        <div class="form-group">
            <label class="sr-only" for="username">Username</label>
            <input type="text" class="form-control" id="username" name="_username" placeholder="Username" required>
        </div>
        <div class="form-group">
             <label class="sr-only" for="password">Password</label>
             <input type="password" class="form-control" id="password" placeholder="Password" id="password" name="_password" required>
             <div class="help-block text-right"><a href="">{{ 'security.login.forgot.password'|trans }}</a></div>
        </div>
        <div class="form-group">
             <button type="submit" id="_submit" name="_submit" class="btn btn-primary btn-block">Sign in</button>
        </div>
    </form>
</div>
{% endblock fos_user_content %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@AppBundle/Resources/public/app/css/user/index.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
