<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <title>Dev−English | Login</title>
        {% block stylesheets %}
        {% stylesheets
            '@font_awesome_css'
            '@template_css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% endblock %}
    </head>
    <body class="login">

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        <!-- BEGIN FORGOT PASSWORD FORM -->
        {% block fos_user_content %}
        {% endblock fos_user_content %}
        <!-- END FORGOT PASSWORD FORM -->
        
        {% block javascript %}
        {% javascripts
            "@template_js"
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% endblock %}
    </body>
</html>
